.choices {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

section {
    flex-basis: 24%;
    margin: 0 4rem;
    padding: 0 0 1rem 1rem;
    background-color: rgb(255, 255, 228);
    border: 1px dashed dodgerblue;
    border-radius: 0.5rem;
    box-shadow: 0.25rem 0.25rem 0.5rem rgb(143, 143, 143);
}

#orderButton {
    margin: 2rem 0 2rem 2rem;
    padding: 0.5rem;
    background-color: rgb(28, 45, 69);
    color: white;
    font-size: 1rem;
}

.customOrders {
    margin: 2rem;
}

.orderList {
    letter-spacing: 1.25px;
    border: 1px dotted dodgerblue;
    background-color: rgb(238, 241, 241);
    padding: 1rem;
}